/**
 * Blocks on front end
 *
 * This describes classes set by colors args in the functions file.
 *
 * @see functions.php/setup
 */
@import '_variables';

// Block editor background color classes.
.has-beeline-text-background-color {
	background-color: $text;
}

.has-beeline-light-gray-background-color {
	background-color: $light_gray;
}

.has-beeline-pale-gray-background-color {
	background-color: $pale_gray;
}

.has-beeline-white-background-color {
	background-color: $white;
}

.has-beeline-error-background-color {
	background-color: $error;
}

.has-beeline-warning-background-color {
	background-color: $warning;
}

.has-beeline-success-background-color {
	background-color: $success;
}

// Block editor text color classes.
.has-beeline-text-color {
	color: $text;
}

.has-beeline-light-gray-color {
	color: $light_gray;
}

.has-beeline-pale-gray-color {
	color: $pale_gray;
}

.has-beeline-white-color {
	color: $white;
}

.has-beeline-error-color {
	color: $error;
}

.has-beeline-warning-color {
	color: $warning;
}

.has-beeline-success-color {
	color: $success;
}