/**
 * Navigation
 */
 .main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;
	margin-top: 1em;
	background: #fff;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;
		background: inherit;

		ul {
			z-index: 99999;
			display: none;
			background: inherit;

			ul {
				right: 0;
				top: 0;
				display: none;
			}

			li:hover > ul,
			li.focus > ul {
				left: 100%;
			}

			& a {
				width: 100%;
			}

			li {

				a:before {
					content: '- ';
				}
			}
		}

		li:hover > ul,
		li.focus > ul {
			display: block;
		}
	}

	li {
		position: relative;
		margin: 0.5em 0;
		font-family: $display_font;
		font-size: $px21;
		font-weight: 500;
		text-transform: uppercase;
	}

	a {
		display: inline-block;
		text-decoration: none;
		-webkit-transform: all .15s;
		        transform: all .15s;

		&:hover,
		&:focus {
			color: $yellow;
		}
	}

	.menu-toggle-wrap {
		padding: 0 $px20 1em;
		text-align: center;
	}

	.menu-toggle {
		display: inline-block;
		background: none;
		border: none;
		font-family: $display_font;
		font-size: $px27;
		font-weight: 500;
		font-variant: small-caps;
		line-height: 1;
		color: $medium_gray;

		svg {
			display: inline-block;
			width: 1em;
			height: 1em;
			vertical-align: top;
			fill: currentColor;

			&.menu-close-icon {
				display: none;
				width: 1.2em;
				height: 1.2em;
			}
		}
	}

	&.toggled {

		.menu-toggle {

			svg {

				&.menu-close-icon {
					display: inline-block;
				}

				&.menu-open-icon {
					display: none;
				}
			}
		}

		ul {
			display: block;
		}
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {
	margin-top: 2em;
	overflow: hidden;
	font-size: $px19;
	font-weight: bold;
	font-weight: 500;
}

.nav-links {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	   -moz-box-orient: vertical;
	   -moz-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
			align-items: center;
	font-family: $display_font;

	.nav-previous {

		.theme-icon {
			margin-right: 0.3em;
		}
	}

	.nav-next {
		text-align: right;

		.theme-icon {
			margin-left: 0.3em;
		}
	}

	svg {
		display: inline-block;
		vertical-align: middle;
		width: 1em;
		height: 1em;
		fill: currentColor;
	}
}

@media screen and (min-width: 481px) {

	.nav-links {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		   -moz-box-orient: horizontal;
		   -moz-box-direction: normal;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-box-align: normal;
		   -moz-box-align: normal;
		    -ms-flex-align: normal;
				align-items: normal;
		-webkit-box-pack: justify;
		   -moz-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
	}
}

@media screen and (min-width: 960px) {
	.menu-toggle {
		display: none;
	}

	.main-navigation {
		margin-top: 2em;

		ul {
			display: block;
			text-align: right;

			ul {
				position: absolute;
				top: 100%;
				right: -$px20;
				padding: 0.5em $px20;
				min-width: 240px;
				background: $white;
				border: solid 2px $yellow;

				li {
					margin-right: 0;

					a:before {
						content: '';
					}

					a {
						width: auto;
						padding: 0.3em 0;

						&:hover,
						&:focus {
							color: $yellow;
						}
					}
				}
			}
		}

		li {
			display: inline-block;
			position: relative;
			margin: 0;
			padding-bottom: 0.5em;
			font-size: $px15;

			&:not(:last-of-type) {
				margin-right: 1em;
			}

			a {
				padding: 0;

				&:hover,
				&:focus {
					color: $yellow;
				}
			}
		}
	}

	.menu-toggle-wrap {
		display: none;
	}
}